<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Most Active Tweeeters</p>


    <% @users.each do |user| %>
      <div class="panel-block">
        <%= user.username %>

        <%= user.tweeets.count %>
      </div>
    <% end %>
  </nav>
</div>